<!--блок регистрации который подставляется перерисовывается динамически в соответствии с
текущим url который меняется при нажатии на ангуляр ссылки

//Прописано в самом компоненте
  //название формы
 [formGroup]="form"
 //название события-функции
  (ngSubmit)="onSubmit()"
 -->
<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Создать аккаунт</span>
    <div class="input-field">
      <!-- добавляем класс ошибки если не валидный емаил
      formControlName - имя
      добавляем класс .invalid если не валидный email и был тронут
      [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}
      -->
      <input
        formControlName="email"
        id="email"
        type="email"
        [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
      >
      <label for="email">Email:</label>
      <!-- показывать если не валидное поле и было тронуто
       а это добавление кода при условии -->
      <span
        class="helper-text red-text"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <span *ngIf="form.get('email').errors['required']">Email не должен быть пустым.</span>
        <span *ngIf="form.get('email').errors['email']">Введите корректный email адрес.</span>
      </span>
    </div>
    <div class="input-field">
      <!--    formControlName - должно совпадать с именем значения которое мы
      создали в файле register-page.components.ts  -->
      <input
        formControlName="password"
        id="password"
        type="password"
        [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
      >
      <label for="password">Пароль:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
        <span *ngIf="form.get('password').errors['required']">Пароль не должен быть пустым.</span>
        <span *ngIf="form.get('password').errors['minlength'] &&
        form.get('password').errors['minlength']['requiredLength']">
          Пароль не должен быть меньше чем
          {{form.get('password').errors['minlength']['requiredLength']}} символов. <br>
          Сейчас: {{form.get('password').errors['minlength']['actualLength']}} символов.
        </span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <!-- type="submit" - для ангуляра он будет считывать это свойтсво
          [disabled]="form.invalid" - блокируем если форма не валидна
        -->
    <button

      type="submit"
      class="modal-action btn waves-effect"
      [disabled]="form.invalid || form.disabled"
    >
      Создать
    </button>
  </div>
</form>
